<!doctype html>
<html>
<head>
  <title>Student Directory</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Student Directory</h1>
    <hr />
    <div class="page"></div>
</div>

<script type="text/template" id="user-list-template">
<!-- // #/new - from routers -->
<a href="#/new" class="btn btn-primary">New User</a>
<hr />
<table class="table striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    <!-- //loop function for each row -->
    <% _.each(users, function(user) { %>
        <tr>
            <td><%= user.get('firstname') %></td>
            <td><%= user.get('lastname') %></td>
            <td><%= user.get('age') %></td>
            <!-- //from routers -->
            <td><a href="#/edit/<%= user.id %>" class="btn">Edit</a></td>
            
        </tr>
        <% }); %>
    </tbody>
</table>

</script>

<script type="text/template" id="edit-user-template">
    <form class="edit-user-form">
    <!--// Single line if statement conditional, if user is true then show update, if user not present else > ":" show Create User -->
        <legend><%= user ? 'Update' : 'Create' %> User</legend>
        <label>First Name</label>
        <input type="text" name="firstname" value="<% user ? user.get('firstname'): '' %>" />
        <label>Last Name</label>
        <input type="text" name="lastname" value="<% user ? user.get('lastname'): '' %>" />
        <label>Age</label>
        <input type="text" name="age" value="<% user ? user.get('age'): '' %>" />
        <hr />
        <% if(user) { %>
            <input type="hidden" name="id" value="<%= user.id %>" /> 
            <% }; %>
        
        <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %>Create User</button>
    </form>

    <!-- // Backbone will do a PUT Request instead of a POST -b/c id is present USING VIEW SAVE USER -->
</script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

  <script>

// these two go together ajaxfilter and Var Users
// serialize object-  turn any object into a string
// why (1)store this object in a cookie, (2) pass the object to a web services via an Ajax request (3) return a modified version of the object back to us


  $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
        options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url;
    });

    $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
      if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
          }
          o[this.name].push(this.value || '');
      } else {
          o[this.name] = this.value || '';
      }
    });
    return o;
    };

// end of appended to the ajax call - put/get

// start of Collection and MODEL
    var Users = Backbone.Collection.extend({
        url: '/users'
    }); 

    var User = Backbone.Model.extend({
        urlRoot: '/users'
    }); 

// End Displaying of users, fires ajax call and base url added
// user collection fire, come back successful, underscore compiles template using inline script template and pass in variables
    var EditUser = Backbone.View.extend({
        el: '.page',
        render: function(options) {
            // options - object is id passed in from thje router and callback function router.on edit user
            var that = this;
            // ** Don't get scope here, bc in a callback, scope changed
            if (options.id) {
                // Checks to see IF Options.ID AVAILABLE, get details and render form, otherwise we will render form 
                // know what id is from urlRoot: '/users'
                var user = new User({id: options.id});
                user.fetch ({ // shoots off a GET REQUEST
                    // with users and id attached
                    success: function(user) {
                        var template = _.template($('#edit-user-template').html(),{user: user});
                    that.$el.html(template);
                    // passes models to template
                    // renders temlate to HTML
                    }
                })
            } else {
                var template = _.template($('#edit-user-template').html(),{user: null});
                    this.$el.html(template);
            }   
        },
        events: {
            'submit .edit-user-form': 'saveUser',
        },
        saveUser: function(eventa) {
            var userDetails = $(eventa.currentTarget).serializeObject();
            var user = new User();
            user.save(userDetails, {
// use of conditional , trigger true
// ** don't fully get the router.navigate and why used here
// ** return false
                success: function(user) {
                    router.navigate('', {trigger: true})
                }       // PUT REQUEST HERE
            })
            return false;
        }
    })

    var UserList = Backbone.View.extend({
        el: '.page',
        // callback function is anonymous, adjust scope
        render: function() {
            // used for scoping reasons
            // http://alistapart.com/article/getoutbindingsituations
            var that = this;
            var users = new Users();
            users.fetch ({
                success: function(users) {
                    //holds compiled template, string of content
                    // takes two args
                    var template = _.template($('#user-list-template').html(),{users:users.models});
                    // passes models to template
                    // renders temlate to HTML
                    that.$el.html(template);        
                }
            })
            
        // references the cased"" element
        }
    })

    // creating new collection
    
    var Router = Backbone.Router.extend({
        routes:  {
            '': 'home', 
            'new': 'editUser',
            'edit/:id': 'editUser'
            // on edit and if there is an id parameter
        }
    });

    var userList = new UserList();
    var editUser = new EditUser();

    var router = new Router();
    router.on('route:home', function() {
        userList.render();
    })
// id sent to router.on from router constructor
// this callback function listens to router,
// sent over the ID from router as undefined
    router.on('route:editUser', function(id) {
        // pass id in render function in edit user view
        editUser.render({id: id});
    })

// have tp use backbone history to start routers

    Backbone.history.start();
 

  </script>

</body>
</html> 

