<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Directory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	
		<div class="header">
            <h3>Student Directory</h3>
            <a href="#students/add">Add Student</a>
        </div>

        <div class="container">         
                <script type="text/template" id="table-template">
                <table>
                    <tr class="row">
	                    <a href="#/students/" + this.model.get('id')>
	                    	<td class="thumb"><img class='thumbnail' src="<%= item.get('photo')%>">
	                    	</td>
	                    </a>
	                    <td class="first"> <%= item.get('first') +" " + item.get('last') %> 
	                    </td>
	                    <td class="email"> <%= item.get('email')%> 
	                    </td>
                    </tr>
                </table>
                </script>

                <script type="text/template" id="student-template">
                    <div class="info-box">
                        <img src=" <%= item.get('photo')%> ">
                        
                        <a href="#/students/<%= item.get('_id')%>/edit">
                        	<button id="edit">EDIT</button>
                        </a>
                        
                        <h2><%= item.get('first') +" " + item.get('last') %></h2>
                        
                        <a href="mailto: <%= item.get('email')%>"> 
                        	<%= item.get('email')%> 
                        </a> 

                        <a href="<%= item.get('github')%>"> 
                        	<%= item.get('github')%> 
                        </a>
                    <div>
                </script>
  
				<script type="text/template" id="edit-template"> 
                    <h2> Update Student Information </h2> 
                        <div>First Name: 
                        	<input id="first-input" placeholder="first name" value="<%=item.get('first')%>">
                        </div>

                         <div>Last Name: 
                         	<input id="last-input" value="<%=item.get('last')%>">
                         </div>
                        
                        <div>Email: 
                        	<input id="email-input" value="<%=item.get('email')%>">
                        </div>

                        <div>Github: 
                        	<input id="github-input" value="<%=item.get('github')%>">
                        </div>

                        <div>Photo: 
                        	<input id="photo-input" value="<%=item.get('photo')%>">
                        </div>
                       
                        <button id="save">Save</button>
                </script> 

                <script type="text/template" id="add-template"> 
                    <h2> Add Student Information </h2> 
                        <div>First Name: 
                        	<input id="first-input" placeholder="first name">
                        </div>

                        <div>Last Name: 
                        	<input id="last-input" placeholder="last name">
                        </div>
                        <div>Email: 
                        	<input id="email-input" placeholder="email">
                        </div>
                        <div>Github: 
                        	<input id="github-input" placeholder="git">
                        </div>
                        <div>Photo: 
                        	<input id="photo-input" placeholder="photo">
                        </div>
                        <button id="saving">Add</button>
                </script> 
        </div>  

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script> -->

		<script src="scripts/views.js"></script>
		<script src="scripts/models.js"></script>
		<script src="scripts/router.js"></script>
        <!-- build:js scripts/main.js -->
<!--    <script src="scripts/main.js"></script> -->
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/coffee.js -->
        <script src="scripts/hello.js"></script>
        <!-- endbuild -->
</body>
</html>
